EXPO_PUBLIC_FIREBASE_API_KEY=PASTE_YOUR_FIREBASE_API_KEY_HERE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://your-project-default-rtdb.region.firebasedatabase.app
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1234567890
EXPO_PUBLIC_FIREBASE_APP_ID=1:1234567890:web:yourappid
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-XXXXXXXXXX
EXPO_PUBLIC_SELFIE_VERIFICATION_PROVIDER=custom
EXPO_PUBLIC_SELFIE_VERIFICATION_BASE_URL=/api/selfie-ai
EXPO_PUBLIC_SELFIE_VERIFICATION_PUBLIC_TOKEN=PASTE_YOUR_PUBLIC_SELFIE_TOKEN_HERE
EXPO_PUBLIC_MODERATION_PROVIDER=custom
EXPO_PUBLIC_MODERATION_BASE_URL=/api/moderation
EXPO_PUBLIC_MODERATION_PUBLIC_TOKEN=PASTE_YOUR_PUBLIC_MODERATION_TOKEN_HERE
EXPO_PUBLIC_PASSWORD_RESET_BASE_URL=/api/auth
EXPO_PUBLIC_STADIA_API_KEY=PASTE_YOUR_STADIA_PUBLIC_TILE_KEY_HERE
AFFAIRGO_PASSWORD_RESET_WEBHOOK_URL=
EXPO_PUBLIC_PROFILE_PHOTO_LIVENESS_WEB_URL=/api/profile-photo-liveness

AWS_COGNITO_IDENTITY_POOL_ID=eu-central-1:paste-your-cognito-identity-pool-id-here
AWS_COGNITO_REGION=eu-central-1
